<div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Filtreeri</label>
                <input type="text" class="form-control" ng-model="search.$">
            </div>
        </div>
        <div class="col-md-4">
            <form novalidate name="projectForm" ng-submit="projectForm.$valid && saveProject()" ng-if="viewData.showForm">
                <div class="form-group">
                    <label>Murelahendaja nimi:</label>
                    <input class="form-control" type="text" ng-model="projectData.projectName" required>
                </div>
                <button class="btn btn-success pull-right" type="submit">Salvesta</button>
                <button type="button" class="btn btn-warning pull-right m-right-5" ng-click="toggleForm()" ng-if="viewData.showForm">Tühista</button>

            </form>
            <button type="button" class="btn btn-primary m-t-l" ng-click="toggleForm()" ng-if="!viewData.showForm">Lisa murelahendaja <i class="glyphicon glyphicon-plus"></i></button>
        </div>

    </div>

    <div class="row m-t-s">
        <div class="col-md-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <h5>Murelahendajad</h5>
                </div>
                <div class="col-md-2 col-xs-2">
                    <h5>Sildid / koodid</h5>
                </div>
                <div class="col-md-2 col-xs-2">
                    <h5>Statistika</h5>
                </div>
                <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
                    <h5>Link</h5>
                </div>
            </div>
            <div class="row m-t-xs colored" ng-repeat="project in projects | filter:search |orderBy:'_id'">

                <div class="col-md-3 col-xs-3">
                    <a ui-sref="project({projectId: project._id})">{{project.projectName}}</a>
                </div>
                <div class="col-md-2 col-xs-2">
                    <span ng-repeat="tag in project.tags">{{tag.text}}{{$last ? "" : ", "}}</span>
                </div>
                <div class="col-md-2 col-xs-2">
                  <a ui-sref="statistics({projectId: project._id})">Statistika</a>
                </div>
                <div class="col-md-1 col-xs-1">
                    <span class="clickable" ui-sref="projectSettings({projectId: project._id})"><i class="glyphicon glyphicon-cog" uib-tooltip="Seaded" tooltip-placement="top"></i></span>
                </div>
                <div class="col-md-4 col-xs-4 text-truncate">
                    <a href target="_blank" ui-sref="troubleshoot({projectId:project._id})">{{toLink(project._id)}}</a>
                </div>
            </div>
            <div class="text-muted" ng-if="projects.length == 0">Pole veel teinud ühtegi :(</div>
        </div>
    </div>
</div>