<div>
    <div class="text-right">
        <h5>Tere {{currentUser.username}}</h5>
        <button class="btn btn-default" ng-click="logout()">Logi välja</button>
    </div>

    <hr/>
    <div class="col-md-6">
        <label>Minu vea tulistamised</label>
        <div  ng-repeat="project in projects">
            <a ui-sref="project({projectId: project._id})">{{project.projectName}}</a> {{$location.protocol()}}://{{$location.host()}}/#/ts/{{project._id}}
        </div>
    </div>

    <div class="col-md-6">
        <form novalidate name="projectForm" ng-submit="projectForm.$valid && saveProject()" ng-if="viewData.showForm">
            <div class="form-group">
                <label>Küsimustiku nimi:</label>
                <input class="form-control" type="text" ng-model="projectData.projectName" required>
            </div>
            <button type="button" class="btn btn-warning" ng-click="toggleForm()" ng-if="viewData.showForm">Tühista</button>
            <button class="btn btn-success" type="submit">Salvesta</button>
        </form>
        <button type="button" class="btn btn-primary" ng-click="toggleForm()" ng-if="!viewData.showForm">Uus shoot <i class="glyphicon glyphicon-plus"></i></button>
    </div>


</div>