<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    <form name="projectSettingsForm" ng-submit="save()">
        <div class="form-group">
            <label>Nimi</label>
            <input type="text" class="form-control" ng-model="projectSettings.projectName">
        </div>
        <div class="form-group">
            <label>Sildid / märksõnad</label>
            <tags-input ng-model="projectSettings.tags" placeholder="Lisa"></tags-input>
        </div>
        <div class="form-group">
            <label>Õnnestumise lehe pealkirja vaikeväärtus</label>
            <input type="text" class="form-control" ng-model="projectSettings.defaultSuccessPageTitle">
        </div>
        <div class="form-group">
            <label>Õnnestumise lehe sisu vaikeväärtus</label>
            <textarea ckeditor="editorOptions" ng-model="projectSettings.defaultSuccessPageContent"></textarea>
        </div>

        <button class="btn btn-danger" ng-click="delete()" type="button">Kustuta</button>
        <button class="btn btn-success pull-right" type="submit">Salvesta</button>
    </form>
</div>