<script type="text/ng-template"  id="tree_item_renderer.html">
    <div class="list-group-item clickable" ng-class="{'active':data._id == viewData.activeId, 'adding':data._id == viewData.addingId }" ng-click="edit(data)">
        {{data.title}}
        <div class="pull-right">
        <a href ng-click="add(data._id);$event.stopPropagation()"><i class="glyphicon glyphicon-plus"></i></a>
        <a href ng-click="delete(data);$event.stopPropagation()" ng-if="!data._confirmDelete && data.parentId"><i class="glyphicon glyphicon-minus"></i></a>
        <a href ng-click="delete(data);$event.stopPropagation()" ng-if="data._confirmDelete" class="confirm"><i class="glyphicon glyphicon-minus"></i></a>
        </div>
    </div>
    <div class="m-left-20 list-group" ng-repeat="data in questions | filter:{parentId:data._id}:true" ng-include="'tree_item_renderer.html'"></div>
</script>

<div>
    <div class="text-right">
        <h5>Tere {{currentUser.username}}</h5>
        <a ui-sref="admin">Tagasi</a>
        <button class="btn btn-default" ng-click="logout()">Logi välja</button>
    </div>

    <div class="col-md-4">
        <h5><a target="_blank" ui-sref="troubleshoot({projectId:project._id})">Eelvaade</a> </h5>
        <h5>Küsimustik: {{project.projectName}}</h5>
        <div ng-if="questions.length == 0">
            <a href ng-click="add()">Lisa esimene küsimus <i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="list-group" ng-repeat="data in questions | filter: {parentId: ''}:true" ng-include="'tree_item_renderer.html'"></div>
    </div>
    <div class="col-md-6" ng-if="showForm">
        <form novalidate name="projectEditForm" ng-submit="projectEditForm.$valid && saveQuestion()">
            <div class="form-group">
                <label>Küsimuse pealkiri:</label>
                <input type="text" class="form-control" ng-model="projectEditData.title" required>
            </div>
            <div class="form-group">
                <label>Vaate sisu</label>
                <textarea ckeditor="editorOptions" ng-model="projectEditData.content" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Salvesta</button>
        </form>
    </div>
    <div class="col-md-2 pull-right m-t-m">
            <p><label class="label label-primary">Sinine</label> - Vastava küsimuse muutmine</p>
            <p><label class="label label-success">Roheline</label> - Küsimusele alamvaliku tegemine</p>
            <p><a><i class="glyphicon glyphicon-plus"></i></a> - Lisamine</p>
            <p><a><i class="glyphicon glyphicon-minus"></i></a> - Eemaldamine</p>
    </div>
</div>