<div>
    <form name="resetForm" class="form-signin" novalidate ng-submit="resetForm.$valid && reset()" ng-if="tokenExpired == false">
        <h2 class="form-signin-heading">Parooli vahetus</h2>
        <input type="password" ng-model="formData.password" class="form-control" placeholder="Uus Parool" name="newPassword" required>
        <input type="password" ng-model="formData.confirmPassword" class="form-control" match-password="newPassword" name="confirmPassword" placeholder="Parool uuesti" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvesta</button>
    </form>

    <div class="text-center">
        <div class="alert alert-danger col-md-offset-4 col-md-4" ng-if="tokenExpired">
            <p>{{message}}</p>
            <a ui-sref="login" class="link">Back</a>
        </div>
    </div>
</div>