<script type="text/ng-template" id="nodes_renderer.html">
    <div class="list-group-item" ui-tree-handle>
        <a class="btn btn-success btn-xs m-right-5" ng-if="data.child && data.child.length > 0" ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right':collapsed,'glyphicon-chevron-down':!collapsed}"></span>
        </a>
        {{data.title}}
        <a class="pull-right btn btn-primary btn-xs m-left-5" href ng-click="viewStatistics(data)"><i class="glyphicon glyphicon-signal"></i></a>
    </div>
    <ol ui-tree-nodes="" ng-class="{'hidden':collapsed}" ng-model="data.child">
        <li ng-repeat="data in data.child" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>

<div>
    <div class="col-md-4">
        <h5>Küsimustik: {{project.projectName}}</h5>
        <!-- Küsimuste puu -->
        <div ui-tree="" class="nodrag" data-empty-placeholder-enabled="false" data-drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="sortedData" id="tree-root">
                <li class="list-group" ng-repeat="data in sortedData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>

    <div class="col-md-6">
        {{statistics.data}}
    </div>
</div>