<!--div class="statistics-container">
    <div class="statistics-box-row">
        <div class="statistics-rounded-box" ng-repeat="data in questions">
            <div class="content">{{data.title}}</div>
        </div>
    </div>
    <div class="statistics-box-row m-t-xl">
        <div class="statistics-rounded-box" ng-repeat="data in questions">
            <div class="content">{{data.title}}</div>
        </div>
        <div class="statistics-rounded-box" ng-repeat="data in questions">
            <div class="content">{{data.title}}</div>
        </div>
        <div class="statistics-rounded-box" ng-repeat="data in questions">
            <div class="content">{{data.title}}</div>
        </div>
    </div>

</div-->
<div>
    <div d3-tree tree-data="questions" name-field="title" opts="d3TreeOpts"></div>
</div>