<div ng-controller="headerController">
    <div ng-if="$state.current.header">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <button class="btn btn-default" ng-if="$state.current.header.back" ng-click="back()"><i class="glyphicon glyphicon-arrow-left"></i> Tagasi</button>
            </div>
            <div class="col-md-8 col-xs-6 text-center">
               <h5> <a href="https://docs.google.com/document/d/12G5_BN_Re26LT7S7Tipf00_L_nZMEFGLWcq1tmlUqjk/edit?usp=sharing" target="_blank">Juhend</a></h5>
            </div>

            <div class="col-md-2 col-xs-3">
            <button class="btn btn-default pull-right" ng-click="logout()">Logi välja</button>
            </div>
        </div>
        <hr/>
    </div>
</div>